@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,600&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0px auto;
  text-align: center;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.blog-post {
  background-color: #fff;
  width: 45%;
  border: 1px solid lightgray;
  box-shadow: 0px 1px 2px rgba(50, 50, 50, 0.1),
    0px 2px 4px rgba(60, 60, 60, 0.1);
  text-align: left;
  border-radius: 4px;
  max-width: 600px;
  min-height: 430px;
  margin: 20px 25px;
}

@media screen and (max-width: 1050px) {
  .blog-post {
    width: 42% !important;
  }
}
@media screen and (max-width: 750px) {
  .blog-post {
    width: 40% !important;
  }
}
@media screen and (max-width: 550px) {
  .blog-post {
    width: 90% !important;
  }
}
.title {
  text-align: left;
  padding: 10px;
  font-size: large;
  line-height: 0.2em;
}
.image {
  width: 100%;
  filter: brightness(50%);
}
.nearest {
  margin-top: 0px;
  color: gray;
}
span {
  padding-left: 10px;
  font-size: small;
  line-height: 0.2em;
  font-weight: bold;
}
p {
  font-size: small;
  line-height: 0.1em;
}
.offer {
  padding: 10px;
  background-color: rgb(20, 238, 238);
  border-radius: 0px 10px 10px 0px;
}
.colortext {
  color: rgb(13, 197, 197);
  font-weight: bold;
}
.amenties {
  float: right;
  color: rgb(13, 197, 197);
  font-weight: bold;
  padding-right: 30px;
}
.tags {
  position: relative;
  color: black;
  padding: 10px;
  top: -25px;
  left: 10px;
  background-color: white;
  border-radius: 20px;
}
.rank {
  position: relative;
  color: white;
  padding: 10px;
  top: -25px;
  float: right;
  font-weight: bold;
}
.rating {
  position: relative;
  color: white;
  padding: 10px;
  background-color: rgba(230, 191, 20, 0.863);
  top: -190px;
  float: right;
  margin-right: -220px;
  font-weight: bold;
}
.original {
  position: relative;
  color: gray;
  text-decoration: line-through;
  float: right;
  top: -25px;
  margin-right: 5px;
}
.discount {
  position: relative;
  color: white;
  padding: 7px;
  background-color: red;
  float: right;
  top: -30px;
  margin-right: 25px;
}
.discountedFees {
  position: relative;
  color: red;
  font-size: xx-large;
  float: right;
  top: -2px;
  margin-right: -80px;
}
.cycle {
  position: relative;
  color: gray;
  font-size: x-small;
  float: right;
  top: 25px;
  margin-right: -110px;
}
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
  margin: 0px auto;
}
.loader {
  border-top: 16px solid rgb(92, 92, 226);
  border-right: 16px solid yellow;
  border-left: 16px solid red;
  border-bottom: 16px solid greenyellow;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ribbon {
  background: #3975e4;
  height: 40px;
  width: auto;
  display: inline-block;
  padding: 0 40px 0 0;
  margin: auto;
  position: relative;
  color: #fff;
  line-height: 40px;
  font-size: 20px;
  text-align: center;
  margin-left: 453px;
  top: 20;
  text-transform: uppercase;
  z-index: 1;
}
.ribbon:before {
  content: "";
  border: 20px solid #3975e4;
  border-left-color: transparent;
  border-left-width: 25px;
  position: absolute;
  top: 0;
  left: -45px;
  z-index: 1;
}
